
*{
	box-sizing: border-box;
}
.hidden{
	visibility: hidden;
}
.alert-box{
	position: absolute;
	right:50;
	background-color:#00adff;
	font-size: 20px;
	top:100px;
	padding:15px 40px 15px 15px;
	color:#ffffff;
	min-width: 350px;
	z-index:10;
}
.alert-box .close-alert{
	font-size:20px;
	position: absolute;
	right:10px;
	top:15px;
	cursor: pointer;
	z-index: 11;
}
.alert-box.show::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	height: 4px;
	background-color:#2927ae;
	width: 100%;
	box-sizing: border-box;
	z-index: 11;
	animation: hideMeter 4s linear;
}
@keyframes hideMeter {
	0%{
		width: 100%;
	}
	100%{
		width: 0%;
	}
}
.alert-box.show{
	animation: showAlert 1s ease forwards;
}
@keyframes showAlert{
	0%{
		transform: translateX(100%);
	}
	40%{
		transform: translateX(-15%);
	}
	80%{
	   transform: translateX(0%);	
	}
	100%{
	   transform: translateX(-10px);		
	}
}

.alert-box.hide{
	animation: hideAlert 1s ease forwards;
}
@keyframes hideAlert{
	0%{
		transform: translateX(-10px);		
	}
	40%{
		transform: translateX(0%);	
	}
	80%{
		transform: translateX(-15%);
	}
	100%{
	   transform: translateX(250%);		
	}
}








